---
---

@charset "utf-8";

html {
  font-size: 20px;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  max-width: 80rem;
  padding: 0;
  width: 100%;
}

#wrapper {
  display: grid;
  grid-template-areas: 'open_button save_button change_style . '
                       'editor editor editor preview';
  grid-template-columns: 6rem 6rem 1fr 50%;
  grid-template-rows: 2rem 1fr;
  height: 100%;
  width: 100%;
}

#open_button {
  border: solid 1px gray;
  border-radius: 0.5rem;
  font: inherit;
  grid-area: open_button;
  margin: 0;
  padding: 0;
}

#save_button  {
  border: solid 1px gray;
  border-radius: 0.5rem;
  font: inherit;
  grid-area: save_button;
  margin: 0;
  padding: 0;
}

#change_style {
  border: solid 1px gray;
  border-radius: 0.5rem;
  font: inherit;
  grid-area: change_style;
  margin: 0;
  padding: 0;
  width: 100%;
}

#editor {
  border: solid 1px gray;
  box-sizing: border-box;
  font: inherit;
  grid-area: editor;
  margin: 0;
  outline: 0;
  overflow: scroll;
  padding: 1rem;
  resize: none;
}

#preview {
  border: solid 1px gray;
  box-sizing: border-box;
  grid-area: preview;
  margin: 0;
  overflow: scroll;
  padding: 1rem;
  
  a {
    color: dodgerblue;
    text-decoration: 0;
  }
  
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  
  h3 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  
  h4 {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  
  h5 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  h6 {font-size: 1rem;
    margin: 1rem 0;
  }
  
  html {
    font-size: 20px;
  }
  
  ol {
    margin: 1rem 0;
    padding-left: 1rem;
  }
  
  ol ol {
    margin: 0;
  }
  
  p {
    margin: 1rem 0;
  }
  
  strong {
    background: linear-gradient(0deg, orange 0 30%, transparent 30% 100%);
  }
  
  table {
    border-collapse: collapse;
  }
  
  th,td {
    border: solid 0.1rem black;
    padding: 0.5rem;
  }
}
